﻿<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MovAlyzeR Start Page</title>
<style type="text/css">
<!--
.style2, .style2wizdev, .style2newuser, .wiz_ds_link, .new_user_link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.style4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}
.style5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: italic;
}
.TabStrip_SearchBox, .TabStrip_SearchBoxActive
{
 float: left;
 padding: 2px 2px 0 2px;
 height: 17px;
 line-height: 19px;
 font-family: Tahoma;
 font-size: 8pt;
 border: solid 1px #8e909c;
 width: 166px;
 color: #9a999a;
 font-style: italic;
}
* html .TabStrip_SearchBox, * html .TabStrip_SearchBoxActive
{
 padding: 0px 2px 0 2px;
 height: 19px;
}
.TabStrip_SearchBoxActive
{
 color: black;
 font-style: normal;
}
-->
</style>
<script type="text/javascript">
var query = location.search;
if( query.indexOf( 'wiz_ds' ) != -1 )
{
	document.open();
	var newText = '<style type="text/css">.style2wizdev { font-weight: bold; color: red; }</style>';
	document.write( newText );
	var newText = '<style type="text/css">.wiz_ds_link { font-weight: bold; color: red; }</style>';
	document.write( newText );
	document.close();
}
if( query.indexOf( 'new_user' ) != -1 )
{
	document.open();
	var newText = '<style type="text/css">.style2newuser { font-weight: bold; color: red; }</style>';
	document.write( newText );
	var newText = '<style type="text/css">.new_user_link { font-weight: bold; color: red; }</style>';
	document.write( newText );
	document.close();
}
function tabs_onFocusSearch(sender)
{
 if(sender.isActive)
 return;
 sender.originalValue = sender.value
 sender.value = "";
 sender.className = "TabStrip_SearchBoxActive";
 sender.isActive = true;
}

function tabs_onBlurSearch(sender)
{
 if(sender.value == "")
 {
 sender.value = sender.originalValue;
 sender.className = "TabStrip_SearchBox";
 sender.isActive = false;
 }
}
</script>
</head>

<body background="bg.jpg" style="background-repeat: repeat">
<FORM name="formSearch" method=GET action="http://www.google.com/custom" target="_blank">
<input type=hidden name=sitesearch value="www.neuroscript.net">
<input type=hidden name=cof value="T:#003366;ALC:#CC3300;L:http://www.neuroscript.net/gfx/nslogo1.jpg;LC:#003366;BGC:#EEEEEE;AH:center;VLC:#990066;GL:0;S:http://www.neuroscript.net;AWFID:c5354f868da1be26;">
<table width="475" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="4">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="4"><span class="style4">Getting Started</span></td>
  </tr>
  <tr>
    <td class="style2" width="20">1.  
    <td class="style2" width="170">View -&gt; Start Page</td>
    <td class="style2" width="10"><div align="center">-</div></td>
        <td class="style2"><a href="win_close">Hide Start Page</a></td>
  </tr>
  <tr>
    <td class="style2">2.  
    <td class="style2">View additional tips</td>
    <td class="style2" width="10"><div align="center">-</div></td>
    <td class="style2"><a href="win_full">Show More Details</a></td>
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="4"><span class="style4">Obtain Data</span>  </tr>
  <tr>
    <td class="style2">1.
    <td class="style2" id="wiz_ds_link"><a href="wiz_ds" class="wiz_ds_link">Device Setup Wizard</a></td>
    <td class="style2"><div align="center">-</div></td>
    <td class="style2wizdev" id="wiz_ds">Setup your input device</td>
  </tr>
  <tr>
    <td class="style2">2.
    <td><span class="style2"><a href="wiz_re">Run Experiment Wizard</a></span></td>
    <td class="style2"><div align="center">-</div></td>
    <td class="style2">Guide to running an experiment</td>
  </tr>
  <tr>
    <td class="style2">3.
    <td><span class="style2"><a href="wiz_es">Experiment Setup Wizard</a></span></td>
    <td class="style2"><div align="center">-</div></td>
    <td class="style2">Design your experiment</td>
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>
  </tr>
  <tr>
  <td colspan="4"><span class="style4">Get Help</span>    </tr>
  
  <tr>
    <td class="style2">1.</td>
    <td class="style2"><span class="style2"><a href="help_app">Application Help</a></span></td>
    <td class="style2"><div align="center">-</div></td>
    <td class="style2">Press F1 (latest help <a href="http://www.neuroscript.net/help/webframe.html" target="_blank" title="Go Online">online</a>*)</td>
  </tr>
  <tr>
    <td class="style2">2.</td>
    <td class="style2"><span class="style2"><a href="help_tut">Tutorial</a></span></td>
    <td class="style2"><div align="center">-</div></td>
    <td class="style2">Learn by example (latest tutorial <a href="http://www.neuroscript.net/help/tutframe.html" target="_blank" title="Go Online">online</a>*)</td>
  </tr>
  <tr>
    <td class="style2">3.</td>
    <td class="style2"><span class="style2"><a href="http://www.neuroscript.net/support.php"> Support</a></span></td>
    <td class="style2"><div align="center">-</div></td>
    <td class="style2">Visit our support page for further options</td>
  </tr>
  <tr>
    <td class="style2">&nbsp;</td>
    <td class="style2" colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td class="style2">&nbsp;</td>
    <td colspan="3" class="style5">* These options require that you be connected to the internet.</td>
  </tr>
</table>
<br>
</form>
<script language="javascript">
if( query.indexOf( 'wiz_ds' ) != -1 )
{
	document.getElementById( 'wiz_ds_link' ).setAttribute( 'title', 'You have not run the device setup wizard yet.' );
	document.getElementById( 'wiz_ds' ).setAttribute( 'title', 'You have not run the device setup wizard yet.' );
}
if( query.indexOf( 'new_user' ) != -1 )
{
	document.getElementById( 'new_user_link' ).setAttribute( 'title', 'You have not created any users.' );
	document.getElementById( 'new_user' ).setAttribute( 'title', 'You have not created any users.' );
}
</script>
</body>
</html>
